# irc ignore
bin/
data/
logs/
modules/

inspircd

conf/cert.pem
conf/key.pem
conf/secrets.conf
conf/links.conf

.gdbargs

# irc services ignore
services/bin
services/data
services/lib
services/log
services/conf/services.conf
